body{
    background-color: rgb(214, 212, 212);
    font-family: 'Bebas Neue', cursive;
    max-width: 800px;
    margin: auto;/*Deixa o conteudo sempre com um espaçamento igualde um lado e do outro */
}
#img_header{
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgb(104, 102, 102);
}

#title, .subtitle, .post_title{
    color: rgb(37, 28, 163);
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
.post{
    background: white;
    padding: 15px;
    margin: 10px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 6px;

    /* 
    o 'border' necessita de 3 valores: largura estilo e cor

    estilos da borda:
        solid = sólido
        dotted = pontilhado
        dashed = tracejado*/
}
.post_title{
    font-style: italic;
    margin: 0;
    margin-bottom: 20px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
#img_codigos{
    width: 70%;
    padding: 0 15%;
    margin-bottom: 15px;
    
    
}

.list{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.icones{
    width: 40px;
    border-radius: 6px;
    margin: 10px;
}